
.main {
    font-family: 'Comic Neue', cursive;
    max-width: 800px;
    max-height: 900px;
    margin-right: auto;
    margin-left: auto;
    color: whitesmoke;
    box-shadow: rgb(66, 94, 125) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    background: #17BDCF;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to top, #17BDCF 0%, #0210CF 100%);
    animation: heading 300ms ease-in;
}

.main h1 {
    font-size: 8rem;
}

.main img {
    width: 10rem;
    height: 10rem;
}

.info {
    box-shadow: rgba(77, 77, 126, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-top: 20px;
    padding: 5px;
    border: 5px solid black;
    max-width: 700px;
    max-height: 700px;
    margin-right: auto;
    margin-left: auto;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    background-color: lightblue;
    font-family: 'Comic Neue', cursive;
    animation: info 300ms ease-in-out;
}


@keyframes heading {
        0% {
            transform: translateX(-100%);
        }


        100% {
            transform: translateX(0%);
        }
}

@keyframes info {
        0% {
            transform: translateX(100%);
        }


        100% {
            transform: translateX(0%);
        }
}